
#headerDiv{
    margin-left:auto;
    margin-right:auto;
    height: 10em;
    
}

.search-dialog .header {
    font-weight: bold;
	width: 50em
}

.search-dialog .checkboxdiv {
    display:block;
}

.search-dialog .translateContainer {
    display:inline;
}
.search-dialog .translateContainer > label {
    margin-left: 0.4em;
}

.search-dialog .intro {
    width: 50em;
    padding: 2em;
}

.search-dialog .section {
    margin: 0.5em auto;
    width: 50em;
}

#searchBox  {
	width: 45em;
	height: 10.5em;
    resize: none;
    max-height: 10.5em;
}
#searchBox * {
    font-size: 110%;
}
#searchBoxSelect {
	width:15%;
}

.header-field{
	padding: 2em;
	position:inline;
}

.matches-generic-field {
	width: 7em;
	margin-right:0.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.6em
	background-color: inherit;
	display: table-cell;
}

.matches-generic-match{
    width: 10em;
    margin-right: 5em;
    overflow:hidden;
    text-align: left;
    text-overflow:ellipsis;
    display: table-cell;
}

.in-section{
		margin-top: 1em;
		display:block
		margin-left: auto;
		margin-right:auto;
}

.section-span {
	margin-right: auto;
	margin-left:auto;
}

.in-section .dijitNumberTextBox{
		width: 7em;
		margin-right: 4em;
}

.waiting_image {
		overflow:hidden;
		width: 35;
		height: 35;
		display:block;
		margin:auto;
}

.match-div-header {
    position:relative;
    left: 2em;
    width:49.5em;
	max-height: 5.5em;
 	overflow-Y: scroll;
    overflow-X: hidden;
}

.header .match-header{
    padding-left = 2em;
}

.header .match-header:hover{
		background:cornflowerblue;
        color: white;
}
